
#header {
	height: auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	@include breakpoint(lap) {
		min-height: 760px;
	}
	@include breakpoint(lap) {
		
		position: fixed;
	}
	&.sign-up {
		height: auto;
		min-height: 100%;
		@include breakpoint(lap) {
			height: auto;
			min-height: 100%;
		}
		.landing-wrap {
			@include breakpoint(lap) {
				@include position(relative, auto);
			}
		}
	}
	
	.sign-in {
		@include position(absolute, auto, 50%, 20%, auto);
		width: 300px;
		margin-left: -150px;
	}
	
	.header-content {
		&.open {
			.content {
				@include transform3d(-260px, 0, 0);
				@include breakpoint(desk) {
					@include transform3d(-130px, 0, 0);
				}
				@include breakpoint(wide) {
					@include transform3d(0, 0, 0);
				}
			}
			
		}
	}
	.landing-wrap {
		padding: 60px 15px;
		@include position(absolute, 0px, 0px, 120px, 0px);
		@include breakpoint(portable) {
			padding: 60px 30px;
		}
		@include breakpoint(lap) {
			@include position(absolute, 0px, 0px, 0px, 0px);
			//position: relative;
			//width: 100%; height: 100%;
			padding: 60px 40px;
		}
		@include breakpoint(desk) {
			//padding: 60px 300px 60px 150px;
			padding: 60px 130px 60px 130px;
		}
		.content {
			@include font-size(0);
			height: 100%;
			max-width: 1175px;
			margin: auto;
			text-align: center;
			width: 100%;
			@include transition(all, 0.2s, ease-in-out);
			/* vertical height align trickery */
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			.wrap {
				@include font-size(1.6);
				display: inline-block;
				vertical-align: middle;
				position: relative;
			}
		}
	}

	

	
	
}