.newsletter {
	@include position(absolute, auto, 50%, 50px, auto);
	width: 300px;
	margin-left: -150px;
	p {
		color: $white;
		text-align: center;
	}
	
	.form {
		margin: 20px 0 0 0;
	}
	
	.email {
		@extend .btn;
		color: $black;
		cursor: text;
		background-color: #FFF;
		float: left;
		outline: none; 
		text-align: left;
		width: 65%;
	}
	.subscribe-btn {
		float: right;
		line-height: 37px;
		width: 35%;
	}
}

