// Dimensions
$palmWidth: 320px;
$portableWidth: 480px;
$portableWidth: 480px;
$tabletPortraitWidth: 680px;
$lapWidth: 769px;
$deskWidth: 960px;
$wideWidth: 1180px;
$ultraWideWidth: 1280px;

// Media Queries
$fix-mqs: false;

// Colours
$white: #FFF;
$black: #000;
$grey: #92959c;
$gray: $grey;
$light-grey: #ccc;
// Font sizes

// Positions
$headerOffsetsVertical: 20px;
$headerOffsetsHorizonatal: 30px;